<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Partidas</title>
  </head>
  <body>
    <h1>Lista de Partidas</h1>
    <a href="{% url 'criar_partida' %}">Criar Nova Partida</a>
    <ul>
      {% for partida in partidas %}
      <li>
        {{ partida.time_1 }} {{ partida.placar_time_1 }} - {{
        partida.placar_time_2 }} {{ partida.time_2 }} (Mapa: {{
        partida.mapa_jogado.nome }})
        <a href="{% url 'atualizar_partida' partida.pk %}">Editar</a>
        <a href="{% url 'deletar_partida' partida.pk %}">Deletar</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
