<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Jogadores</title>
  </head>
  <body>
    <h1>Lista de Jogadores</h1>
    <a href="{% url 'criar_jogador' %}">Criar Novo Jogador</a>
    <ul>
      {% for jogador in jogadores %}
      <li>
        {{ jogador.nome }} - Pontos Totais: {{ jogador.pontos_totais }} - ACS:
        {{ jogador.acs }}
        <a href="{% url 'atualizar_jogador' jogador.pk %}">Editar</a>
        <a href="{% url 'deletar_jogador' jogador.pk %}">Deletar</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
